<template>
  <v-text-field
    outlined
    v-model="kk"
    type="number"
    :counter="16"
    color="#069550"
    :rules="kkRules"
    required
    placeholder="Masukkan No. KK"
    @change="set_kk(kk)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    kk: "",
    kkRules: [(v) => !!v || "No. KK tidak boleh kosong"],
  }),
  methods: {
    set_kk(value) {
      this.$store.dispatch("set_kk", value);
    },
  },
};
</script>