<template>
  <div>
    <v-textarea
    v-model="alamat"
    color="#069550"
    outlined
    counter="255"
    required
    placeholder="Masukkan Alamat"
    name="input-7-4"
    :rules="alamatRules"
    @change="set_alamat(alamat)"
    ></v-textarea>
  </div>
</template>

<script>
export default {
  data: () => ({
    alamat: "",
    alamatRules: [
      (v) => !!v || "Alamat tidak boleh kosong",
      (v) => v && v.length <= 255 || "Maksimal 255 Karakter",
    ],
  }),
  methods: {
    set_alamat(value) {
      this.$store.dispatch("set_alamat", value);
    }
  }
};
</script>