<template>
  <v-text-field
    outlined
    type="number"
    suffix="Tahun"
    v-model="umur"
    color="#069550"
    :rules="umurRules"
    required
    placeholder="Masukkan Umur"
    @change="set_umur(umur)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    umur: "",
    umurRules: [
      (v) => !!v || "Umur tidak boleh kosong",
      (v) => v >= 25 || "Berumur lebih dari atau sama dengan 25 tahun",
    ],
  }),
  methods: {
    set_umur(value) {
      this.$store.dispatch("set_umur", value);
    }
  }
};
</script>