<template>
  <v-text-field
    outlined
    type="number"
    color="#069550"
    v-model="pasca_pandemi"
    :rules="pasca_pandemiRules"
    prefix="Rp"
    required
    placeholder="Masukkan Penghasilan"
    @change="set_pasca_pandemi(pasca_pandemi)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    pasca_pandemi: "",
    pasca_pandemiRules: [(v) => !!v || "Penghasilan tidak boleh kosong"],
  }),
  methods: {
    set_pasca_pandemi(value) {
      this.$store.dispatch("set_pasca_pandemi", value);
    }
  }
};
</script>