<template>
  <v-text-field
    outlined
    type="number"
    color="#069550"
    v-model="pra_pandemi"
    :rules="pra_pandemiRules"
    prefix="Rp"
    required
    placeholder="Masukkan Penghasilan"
    @change="set_pra_pandemi(pra_pandemi)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    pra_pandemi: "",
    pra_pandemiRules: [(v) => !!v || "Penghasilan tidak boleh kosong"],
  }),
  methods: {
    set_pra_pandemi(value) {
      this.$store.dispatch("set_pra_pandemi", value);
    }
  }
};
</script>