<template>
  <v-text-field
    outlined
    v-model="rw"
    :rules="rwRules"
    color="#069550"
    required
    prefix="RW"
    placeholder="Masukkan RW"
    @change="set_rw(rw)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    rw: "",
    rwRules: [
      (v) => !!v || "RW tidak boleh kosong",
      // HANYA ADA 9 RW
      (v) => v >= 1 && v <= 9 || "Terdiri dari RW 1 sampai RW 9",
    ],
  }),
  methods: {
    set_rw(value) {
      this.$store.dispatch("set_rw", value);
    }
  }
};
</script>