<template>
  <div>
    <v-select
      :items="items"
      v-model="select"
      :rules="[(v) => !!v || 'Alasan tidak boleh kosong']"
      append-icon="mdi-chevron-down"
      color="#069550"
      dense
      outlined
      required
      @change="set_alasan(select)"
    ></v-select>
    <v-text-field
      class="mb-2"
      v-model="lainnya"
      outlined
      :rules="lainnyaRules"
      v-if="select == 'Lainnya'"
      hide-details="auto"
      required
      placeholder="Masukkan Alasan"
      @change="set_alasan(lainnya)"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lainnya: "",
      lainnyaRules: [(v) => !!v || "Alasan tidak boleh kosong"],
      select: null,
      items: [
        "Kehilangan pekerjaan",
        "Kepala keluarga terdampak atau korban Covid",
        "Tergolong fakir/miskin semenjak sebelum Covid",
        "Lainnya",
      ],
    };
  },
  methods: {
    set_alasan(value) {
      this.$store.dispatch("set_alasan", value);
    },
  },
};
</script>

<style scoped>
</style>