<template>
  <v-text-field
    outlined
    type="number"
    v-model="nik"
    color="#069550"
    :rules="nikRules"
    :counter="16"
    required
    placeholder="Masukkan NIK"
    @change="set_nik(nik)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    nik: "",
    nikRules: [
      (v) => !!v || "NIK tidak boleh kosong",
      (v) => v && v.length == 16 || "NIK Harus 16 Digit",
    ],
  }),
  methods: {
    set_nik(value) {
      this.$store.dispatch("set_nik", value);
    }
  }
};
</script>