<template>
  <div>
    <h6 class="mt-1">Pilih salah satu.</h6>
    <v-radio-group
      class="mt-0"
      v-model="jenis_kelamin"
      required
      mandatory
      row
      @change="set_jenis_kelamin(jenis_kelamin)"
    >
      <v-radio color="#069550" label="Laki-laki" value="Laki-laki"></v-radio>
      <v-radio color="#069550" label="Perempuan" value="Perempuan"></v-radio>
    </v-radio-group>
  </div>
</template>

<script>
export default {
  data: () => ({
    jenis_kelamin: "",
  }),
  methods: {
    set_jenis_kelamin(value) {
      this.$store.dispatch("set_jenis_kelamin", value);
    },
  },
};
</script>


<style scoped>
h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #616161;
}
</style>