<template>
  <v-text-field
    color="#069550"
    outlined
    v-model="nama"
    :rules="namaRules"
    required
    placeholder="Masukkan Nama"
    @change="set_nama(nama)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    nama: "",
    namaRules: [(v) => !!v || "Nama tidak boleh kosong"],
  }),
  methods: {
    set_nama(value) {
      this.$store.dispatch("set_nama", value);
    }
  }
};
</script>


<style scoped>

</style>