<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn id="btn-main" @click="foto_kk = null" color="#069550" dark v-bind="attrs" v-on="on">
        <div id="btn-text">
          Tambah <br />
          File
        </div>
        <v-icon id="btn-icon">mdi-plus</v-icon>
      </v-btn>
    </template>
    <v-card class="pa-3">
      <v-form v-model="valid2" ref="form">
        <v-card-text class="pt-3 pb-0">
          <p id="paragraph-1" class="mb-0">
            Maksimal 2MB, format JPG/JPEG/PNG/BMP
          </p>
        </v-card-text>
        <v-file-input
          v-model="foto_kk"
          show-size
          required
          :rules="foto_kkRules"
          label="File input"
          accept="image/png, image/jpg, image/bmp, image/jpeg"
        >
        </v-file-input>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            id="btn-2"
            outlined
            color="#069550"
            dark
            @click="dialog = false"
          >
            Kembali
          </v-btn>
          <v-btn
            id="btn-1"
            :disabled="!valid2"
            color="#069550"
            @click="set_foto_kk(foto_kk)"
          >
            Upload
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      valid2: false,
      foto_kk: null,
      dialog: false,
      foto_kkRules: [
        (v) => !!v || "Foto KK tidak boleh kosong",
        (v) => (v && v.size < 2000000) || "Foto Maksimal 2mb",
      ],
    };
  },
  methods: {
    set_foto_kk(value) {
      this.dialog = false;
      this.$store.dispatch("set_foto_kk", value);
      this.$emit("kk-valid");
    },
  },
};
</script>

<style scoped>
#btn-main {
  padding: 1.7rem 1rem;
  border-radius: 8px;
}

#btn-text {
  text-align: left;
  font-family: "Lato";
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

#btn-icon {
  margin-left: 1.7rem;
}

#paragraph-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

#btn-1 {
  font-family: "Lato";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

#btn-2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}
</style>