<template>
  <v-text-field
    outlined
    v-model="rt"
    color="#069550"
    :rules="rtRules"
    required
    prefix="RT"
    placeholder="Masukkan RT"
    @change="set_rt(rt)"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    rt: "",
    rtRules: [
      (v) => !!v || "RT tidak boleh kosong",
      // HANYA ADA 13 RT
      (v) => v >= 1 && v <= 13 || "Terdiri dari RT 1 sampai RT 13",
    ],
  }),
  methods: {
    set_rt(value) {
      this.$store.dispatch("set_rt", value);
    }
  }
};
</script>