<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        :disabled="!valid"
        id="btn-1"
        color="#069550"
        v-bind="attrs"
        v-on="on"
      >
        <div>Tambah Data</div>
      </v-btn>
    </template>

    <v-card class="pa-3">
      <v-form v-model="valid2" ref="form">
        <v-card-title id="title-1"> Persetujuan </v-card-title>
        <v-card-text class="pt-3 pb-0">
          <p id="paragraph-1" class="mb-0">
            Saya menyatakan bahwa data yang diisikan adalah benar dan siap
            mempertanggung- <br />
            -jawabkan apabila ditemukan ketidaksesuaian dalam data tersebut.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-checkbox
            v-model="checkbox"
            color="#069550"
            :rules="[(v) => !!v || 'Anda harus setuju']"
            label="Apa anda setuju ?"
            required
          ></v-checkbox>
        </v-card-actions>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            id="btn-2"
            outlined
            color="#069550"
            dark
            @click="dialog = false"
          >
            Kembali
          </v-btn>
          <v-btn
            :loading="loading"
            id="btn-1"
            :disabled="!valid2"
            color="#069550"
            @click="confirmSubmit()"
          >
            Setuju
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      checkbox: false,
      valid2: false,
      loading: false,
    };
  },
  props: ["valid"],
  methods: {
    confirmSubmit() {
      this.loading = true
      this.$emit("confirm-submit");
      setTimeout(() => this.dialog = false, 1500);
      setTimeout(() => this.loading = false, 1500);
    },
  },
};
</script>

<style scoped>
#title-1 {
  color: #069550;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 34px;
}
#paragraph-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

#btn-1 {
  font-family: "Lato";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

#btn-2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}
</style>