<template>
  <v-container class="pa-5">
    <v-row>
      <v-col id="main-col" cols="12" xs="4">
        <h1>Tentang Aplikasi</h1>
        <p>
          Aplikasi web ini dibuat sebagai pengajuan tugas<br />
          <b>JCC Partnership - Project Challenge Batch 2</b>.
        </p>
        <p>
          Ditujukan untuk membantu pejabat tingkat RW dalam kebutuhan proses
          pendataan bansos di Komplek Panghegar, Kelurahan Cipadung Kulon,
          Kecamatan Panyileukan.
        </p>
        <v-divider class="my-3"></v-divider>
        <div class="text-center">
        Dibuat oleh &copy; Muhammad Naufal Al Aziz <br>
        Kelas Vue JS | JCC 2022
        </div>
        <v-divider class="my-3 "></v-divider>

        <div class="text-left">
          <h3>Powered by</h3>
          <a href="https://digitalservice.jabarprov.go.id/design-system/"><img class="my-4" src="../../public/jds.png" alt="" /></a><br />
          <h3>Stacks</h3>
          <a href="https://www.javascript.com/"><img
            class="my-4"
            height="40px"
            src="../../public/js.png"
            alt=""
          /></a><br />
          <a href="https://vuejs.org/"><img
            class="my-4"
            height="40px"
            src="../../public/vuejs.png"
            alt=""
          /></a><br />
          <a href="https://vuetifyjs.com/en/"><img
            class="my-4"
            height="40px"
            src="../../public/vuetify.png"
            alt=""
          /></a><br />
        </div>
        
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>

<style scoped>
#main-col {
  font-family: "Lato";

}

#main-col h1 {
  margin-bottom: 2rem;
}

</style>
