<template>
  <v-container class="pa-5">
    <v-row>
      <v-col cols="12" xs="4">
        <v-card class="mx-auto mb-3" max-width="344">
          <v-img src="../../public/img1.png" height="200px"></v-img>

          <v-card-title id="title-text"> Pendataan Bansos </v-card-title>

          <v-card-subtitle id="subtitle-text">
            Buat data baru penerima bansos.
          </v-card-subtitle>

          <v-card-actions id="actions-1">
            <v-btn id="btn-1" color="#069550" to="/tambah">
              <div>Data Baru</div>
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-card class="mx-auto" max-width="344">
          <v-img src="../../public/img2.png" height="200px"></v-img>

          <v-card-title id="title-text"> Tentang Aplikasi </v-card-title>

          <v-card-subtitle id="subtitle-text">
            Keterangan mengenai aplikasi.
          </v-card-subtitle>

          <v-card-actions id="actions-1">
            <v-btn id="btn-1" color="#069550" to="/about">
              <div>Selengkapnya</div>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<style scoped>
#btn-1 {
  margin: auto;
  font-family: "Lato";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

#title-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #212121;
}

#subtitle-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: #757575;
}
</style>