<template>
  <div>
    <FormWarga />
  </div>
</template>

<script>
  import FormWarga from '../components/FormWarga.vue'
  export default {
    name: 'HomeView',

    components: {
      FormWarga
    },
  }
</script>
