<template>
  <v-app id="inspire">
    <v-app-bar id="app-bar" app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>
        <router-link to="/"><img
          src="https://member.jabarcodingcamp.id/images/logos/LogoJCC-mobile.svg"
          alt="homepage"
          class="dark-logo"
        />
        <img
          id="text-logo"
          src="https://member.jabarcodingcamp.id/images/logos/TextLogoJCC.svg"
          alt="homepage"
          class="dark-logo"
        /></router-link>
      </v-toolbar-title>
    </v-app-bar>
    <v-navigation-drawer
      id="nav-drawer"
      v-model="drawer"
      app
      hide-overlay
    >
      <v-list>
        <v-list-item
          v-for="(item, index) in menus"
          :key="`menu-${index}`"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>
    <v-footer id="main-footer" padless class="ma-0" elevation="24">
      <div class="mx-auto">
        <v-img src="../public/jds.png"></v-img>
      </div>
      <v-col id="footer-text" class="text-center" cols="12">
        © Official website Pemerintah Provinsi Jawa Barat
        {{ new Date().getFullYear() }}
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import SnackBars from "./components/SnackBars.vue";
export default {
  data: () => ({
    drawer: null,
    menus: [
      { title: "Beranda", icon: "mdi-home", route: "/" },
      { title: "Data Baru", icon: "mdi-draw", route: "/tambah" },
      { title: "Tentang", icon: "mdi-help", route: "/about" },
    ],
  }),
  components: {
    SnackBars,
  },
};
</script>

<style scoped>
#app-bar {
  border-bottom: 4px solid #1e88e5;
}

.v-list-item-title {
  color: green;
}

#text-logo {
  margin-left: 0.5rem;
}

#nav-drawer {
  margin-top: 57px;
}

#img-1 {
  box-sizing: border-box;
}

#main-footer {
  border-top: 4px solid #ffd026;
  padding-top: 1rem;
  background: #fdfdfd;
}

#footer-text {
  background: #fdfdfd;
  box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: #424242;
}
</style>