<template>
  <v-form id="main-form" v-model="valid" ref="form">
    <v-container class="pa-5">
      <SnackBars />
      <v-row>
        <v-col id="main-col" cols="12" xs="4">
          <h6>Nama</h6>
          <InputNama />

          <h6>NIK</h6>
          <InputNIK />

          <h6>No. Kartu Keluarga</h6>
          <InputKartu />

          <div>
            <h6 id="label-foto">Foto KTP</h6>
            <InputKTP @ktp-valid="ktp_accepted = !ktp_accepted" />
            <v-text-field
              v-show="false"
              v-model="data.foto_ktp"
              :rules="[(v) => !!v || 'KTP harus diisi']"
              placeholder="belum ada file terpilih"
              disabled
              required
            >
            </v-text-field>
            <p v-if="!ktp_accepted" id="file-1">Belum ada file terpilih.</p>
            <p v-if="ktp_accepted" id="file-1">{{ data.foto_ktp.name }} <v-icon id="icon-tick">mdi-check-circle</v-icon></p>
          </div>

          <div>
            <h6 id="label-foto">Foto Kartu Keluarga</h6>
            <InputKK @kk-valid="kk_accepted = !kk_accepted" />
            <v-text-field
              v-show="false"
              v-model="data.foto_kk"
              :rules="[(v) => !!v || 'KK harus diisi']"
              placeholder="belum ada file terpilih"
              disabled
              required
            >
            </v-text-field>
            <p v-if="!kk_accepted" id="file-1">Belum ada file terpilih.</p>
            <p v-if="kk_accepted" id="file-1">{{ data.foto_kk.name }}<v-icon id="icon-tick">mdi-check-circle</v-icon></p>
          </div>

          <h6>Umur</h6>
          <InputUmur />

          <h6>Jenis Kelamin</h6>
          <InputJenisKelamin />

          <h6>Alamat</h6>
          <InputAlamat />

          <h6>RT</h6>
          <InputRT />

          <h6>RW</h6>
          <InputRW />

          <h6>Penghasilan sebelum pandemi</h6>
          <InputPraPandemi />

          <h6>Penghasilan setelah pandemi</h6>
          <InputPascaPandemi />

          <h6>Alasan membutuhkan bantuan</h6>
          <InputAlasan />
          <div id="div-1">
            <v-btn id="btn-2" outlined color="#069550" dark @click="reset()">
              Reset Form
            </v-btn>
            <SubmitForm :valid="valid" @confirm-submit="submitForm()" />
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
// STATE
import { mapActions, mapState } from "vuex";

// COMPONENTS
import SnackBars from './SnackBars.vue'
import InputNama from "./FormInput/InputNama.vue";
import InputNIK from "./FormInput/InputNIK.vue";
import InputKartu from "./FormInput/InputKartu.vue";
import InputKTP from "./FormInput/InputKTP.vue";
import InputKK from "./FormInput/InputKK.vue";
import InputUmur from "./FormInput/InputUmur.vue";
import InputJenisKelamin from "./FormInput/InputJenisKelamin.vue";
import InputAlamat from "./FormInput/InputAlamat.vue";
import InputRT from "./FormInput/InputRT.vue";
import InputRW from "./FormInput/InputRW.vue";
import InputPraPandemi from "./FormInput/InputPraPandemi.vue";
import InputPascaPandemi from "./FormInput/InputPascaPandemi.vue";
import InputAlasan from "./FormInput/InputAlasan.vue";
import SubmitForm from "./FormInput/SubmitForm.vue";

export default {
  data: () => ({
    valid: false,
    ktp_accepted: false,
    kk_accepted: false,
  }),
  computed: {
    ...mapState({
      data: (state) => state.data,
    }),
  },
  methods: {
    submitForm() {
      let isSuccess = Math.floor(Math.random() * 2);
      if (isSuccess == 1) {
        console.log("submitted");
        setTimeout(() => {
        console.log(this.data),
        this.set_alert({
          status: true,
          color: '#212121',
          text: 'Berhasil menambahkan data'
        })
        }, 1500);
      } else {
        setTimeout(() => {
          console.log("Interval Server Error")
          this.set_alert({
          status: true,
          color: '#212121',
          text: 'Gagal menambahkan data'
        })
        }, 1500);
      }
    },
    ...mapActions({
      set_alert: 'alert/set_alert'
    }),
    reset() {
      this.$refs.form.reset();
      this.ktp_accepted = false
      this.kk_accepted = false
      this.$store.dispatch("clear_form");
    },
  },
  components: {
    SnackBars,
    InputNama,
    InputNIK,
    InputKartu,
    InputKTP,
    InputKK,
    InputUmur,
    InputJenisKelamin,
    InputAlamat,
    InputRT,
    InputRW,
    InputPraPandemi,
    InputPascaPandemi,
    InputAlasan,
    SubmitForm,
  },
};
</script>

<style scoped>
h6 {
  margin-bottom: 8px;
}

#main-form {
  background: #fdfdfd;
}

#main-col h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

#div-1 {
  text-align: right;
}

#icon-tick {
  margin-left: 2rem;
  color: #069550;
}

#label-foto {
  margin-bottom: 8px;
}

#file-1 {
  background: #fdfdfd;
  margin-top: 8px;
  border: 1px solid #fafafa;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: #424242;
}

#btn-2 {
  margin-right: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}
</style>