<template>
  <v-snackbar
    id="snackbar-1"
    v-model="alert"
    :color="color"
    top
    multi-line
    timeout="5000"
  >
    {{ text }}

    <template v-slot:action="{ attrs }">
      <v-btn color="#16A75C" text v-bind="attrs" @click="close"> tutup </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "SnackBars",
  computed: {
    ...mapGetters({
      status: "alert/status",
      color: "alert/color",
      text: "alert/text",
    }),
    alert: {
      get() {
        return this.status;
      },
      set(value) {
        this.set_alert({
          status: value,
        });
      },
    },
  },
  methods: {
    ...mapActions({
      set_alert: "alert/set_alert",
    }),
    close() {
      this.set_alert({
        status: false,
      });
    },
  },
};
</script>

<style scoped>
#snackbar-1 {
  border-radius: 8px;
  font-family: "Lato";
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: #ffffff;
}
</style>